.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 90vw;
  position: absolute;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .authentication {
    position: absolute;
    width: 90%;
    max-width: 30vw;
    text-align: center;
  }
}
